node_modules
target
*.swo
*.swp
contract/contracts/artifacts
.deps/*
pwa/dist/*
release
api/Rocket.toml
api/Rocket.toml.staging
api/Rocket.toml.development
api/Rocket.toml.staging_real
ganache_data
ganache_data_copy
